.footer
  &_
    &block-title
      font-size: 25px
      line-height: 30px
    &block-link
      font-size: 20px
      line-height: 24px
    &block-address
      font-size: 20px
      line-height: 33px
    &end
      font-size: 20px
      line-height: 32px