.post
  &_
    &article
      
      li
        font-size: 20px

    &title
      width: 80%
      font-size: 40px
    &title-sect
      font-size: 30px
    &text
      font-size: 20px
    &quote
      width: 92%
      font-size: 20px

.share
  &_
    &title
      font-size: 30px
