.form
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  gap: 10px
  &_
    &title
      width: 100%
      margin-bottom: 38px
      font-weight: 600
    &field
      display: flex
      flex-direction: column
      gap: 17px
      width: 100%
      margin-bottom: 20px
    &label
      &--
        &min
          font-size: 16px !important
          font-weight: 400
    &textarea
      height: 270px
      resize: none
    