.header
  display: flex
  justify-content: space-between
.logo
  display: flex
  align-items: flex-end
  &_
    &icon
      width: 55px
      height: 55px
  // &text

.navbar
  display: none
  &_
    &list
      display: flex
    // &item
    // &link
    // &btn
    