.posts
  &_
    &blocks
      display: flex
      flex-direction: column
      padding: 0 10px
    &title
      order: 1
      width: 100%
      margin-bottom: 17px
      font-size: 28px
      font-weight: 600
      line-height: 32px
      text-align: center
      text-transform: capitalize
    &subtitle
      order: 2
      width: 100%
      margin-bottom: 60px
      font-size: 14px
      line-height: 17px
      text-align: center
      text-transform: capitalize
    &list
      order: 4
    &item
      margin-bottom: 46px
      background-color: var(--theme-color-white)
      border-radius: 30px 30px 0 0
      box-shadow: 0px 28px 57px 8px rgba(190,190,190,0.25)
    &item-img
      width: 100%
      border-radius: 30px 30px 0 0
      object-fit: cover
      object-position: center
    &item-content
      padding: 42px 32px
    &item-data
      display: flex
      flex-direction: column
      gap: 5px
      margin-bottom: 32px
      color: var(--text-color-nine)
      font-size: 16px
    &item-icon
      width: 25px
      height: 25px
    &item-date
      margin: 0 28px 0 10px
    &item-hum
      margin: 0 28px 0 10px
    &item-comment
      margin: 0 28px 0 10px
    &item-title
      margin-bottom: 15px
      font-size: 20px
      font-weight: 500
      line-height: 140%
      text-transform: capitalize
    &item-text
      margin-bottom: 27px
      font-size: 16px
      line-height: 140%
    &item-btn
      padding: 17px 43px
      text-transform: capitalize
    &pag
      width: 86%
      margin: 38px 0 62px 0
    &aside
      order: 3


