extends ./template

block title
  title=  "Genius project"
    
block header 
  include block/header

block main
  main.page 
    include home/main-block
        
block footer 
  include block/footer
