extends ./base/template

block title
  title=  "Template WP"
    
block header 
  - const notLinkLogo = true
  include block/header

block main
  main.page 
    //- include home/main-block
    include home/preview-block
    include home/premfeat-block
    include home/leads-block
    include home/pm-block
        
block footer 
  include block/footer
