.preview
  &_
    &graphics
      left: 0

//***********************************

.premfeat
  &_
    &cards
      justify-content: space-between

//***********************************

.pm
  &_
    &content
      top: 40px
    &title
      width: 80%
    &subtitle
      width: 80%
    &list
      margin-bottom: 44px
    &item
      width: 50%
    &decor
      top: 60px
      left: 25px
