.footer
  &_
    &blocks
      align-items: flex-start
    &block
      &--
        &one
          width: 25%
        &two
          width: 20%
        &three
          width: 55%
    &block-title
      font-size: 16px
      line-height: 20px
    &block-link
      font-size: 16px
      line-height: 20px
    &block-address
      font-size: 16px
      line-height: 20px
    &end
      font-size: 16px
      line-height: 20px