.preview-decor
  &_
    &first
      width: 400px
      left: 46%
    &secondary
      top: -270px

//********************************

.leads-decor
  width: 556px

//********************************

.pm-decor
  width: 520px
  
//*** Page posts ****************

.posts
  &_
    &decor
      width: 520px

//*** Page post ****************

.post
  &_
    &decor
      width: 520px