.posts
  &_
    &title
      font-size: 35px
      line-height: 39px
    &subtitle
      font-size: 16px
      line-height: 20px
      width: 60%
      margin: 0 auto 158px auto
    &item-data
      flex-direction: row
    &item-title
      font-size: 35px
      line-height: 39px
    &aside
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      align-items: flex-start
      

//****************************************** 
   
.new-posts
  display: block
  width: 55%
  &_
    &title
      font-size: 35px
      line-height: 39px
    &item-title
      font-size: 16px
      line-height: 20px
    &item-date
      font-size: 14px
      line-height: 18px

//******************************************

.categories
  width: 40%
  &_
    &title
      font-size: 35px
      line-height: 39px
    &item-title
      font-size: 16px
      line-height: 20px