.post
  &_
    &article

      li
        font-size: 18px

    &data
      flex-direction: row
    &title
      font-size: 36px
    &title-sect
      font-size: 26px
    &item
      font-size: 18px
    &text
      font-size: 18px
    &quote
      font-size: 18px
    &aside
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      align-items: flex-start
      
.share
  &_
    &title
      font-size: 26px

