.posts
  &_
    &blocks
      padding: 0
    &title
      font-size: 36px
    &subtitle
      width: 60%
      margin: 0 auto 60px auto
      font-size: 16px
      line-height: 20px
    &item-data
      flex-direction: row
      font-size: 20px
    &item-title
      font-size: 35px
      line-height: 39px
    &aside
      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      align-items: flex-start
      

//****************************************** 
   
.new-posts
  display: block
  width: 55%
  &_
    &title
      font-size: 35px
      line-height: 39px
    &item-title
      font-size: 16px
      line-height: 20px
    &item-date
      font-size: 14px
      line-height: 18px

//******************************************

.categories
  width: 40%
  &_
    &title
      font-size: 35px
      line-height: 39px
    &item-title
      font-size: 16px
      line-height: 20px