.footer
  &_
    &block
      &--
        &one
          width: 15%
        &two
          width: 10%
        &three
          width: 30%
        &four
          width: 45%
    &block-news
      height: 226px