.preview-decor
  &_
    &first
      width: 670px
      top: 277px
      left: 50% 
    &secondary
      width: 1400px
      height: 1028px
      top: -325px
      left: 58%
      background-image: conic-gradient(at 30% 46%, var(--theme-bg-base), var(--theme-bg-secondary))
      border-radius: 0 0 0 150px

//***************************************

.leads-decor
  bottom: -60px

//***************************************

.pm-wrap
  padding-top: 100px

.pm-decor
  bottom: 30px