.posts
  &_
    &blocks
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
    &list
      width: 63%
      order: 3
    &aside
      flex-direction: column
      justify-content: flex-start
      width: 34%
      order: 4

.new-posts
  width: 100%
  &_
    &item
      flex-direction: column
      align-items: center

.categories
  width: 100%