.preview
  &_
    &content
      padding: 300px 0 100px 0
    &graphics
      top: 0
      left: 138px
    &link
      margin-left: 34px
    &reward
      &::after
        width: 66%

//***********************************

.leads
  flex-direction: row
  &_
    &content
      width: 76%
      
//***********************************

.pm
  flex-direction: row
  &_
    &content
      width: 76%

//***********************************

.usersglob
  &_
    &subtitle
      width: 50%
    &item
      &--base
        width: 20%
      &--big
        width: 30%

.br
  &--
    &b
      &::before
        position: absolute
        content: ""
        width: 100%
        height: 1px
        bottom: 0
        left: 0
        background-color: var(--theme-border-secondary)
    &r
      &::after
        position: absolute
        content: ""
        width: 1px
        height: 100%
        bottom: 0
        right: 0
        background-color: var(--theme-border-secondary)

//******************************************

.writeus
  align-items: flex-start
  padding: 75px 65px 0 65px
  &_
    &bg
      height: auto
    &content
      width: 45%
    &form
      width: 47%
      padding-top: 10px
    &form-field
      width: 65%
    &form-btn
      width: 30%
      padding: 17px 36px
    &decor
      margin-top: 60px
