.footer
  &_
    &head
      flex-direction: row
      align-items: center
      justify-content: space-between
    &socials
      margin-top: 0
    &socials-item
      margin: 0 0 0 25px
    &blocks
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
    &block
      &--
        &one
          width: 40%
        &two
          width: 40%
        &three
          width: 80%
        // &four
    &block-title
      text-align: start
    &block-btn
      top: calc(50% - 7px)
      left: calc(50% - 87px)
