.preview
  display: flex
  flex-direction: column
  &_
    &content
      padding-top: 190px
      text-align: center
    &title
      font-size: 32px
      line-height: 36px
    &subtitle
      font-size: 13px
      line-height: 16px
      margin: 20px 0 50px 0
      text-transform: capitalize
    &link
      margin-left: 10px
      font-family: "Jost", sans-serif
      font-weight: 400
      font-size: 20px
      line-height: 24px
      color: var(--title-color-base)
      text-decoration: none
      @include hover-link
    &reward
      display: flex
      align-items: start
      flex-wrap: wrap
      position: relative
      width: 100%
      margin: 50px 0
      padding: 40px 3px
      &::before
        position: absolute
        content: ''
        width: 50%
        height: 1px
        top: 0
        left: 3px
        background-color: var(--theme-border-base)
      &::after
        position: absolute
        content: ''
        width: 98%
        height: 1px
        bottom: 0
        left: 3px
        background-color: var(--theme-border-base)
    &reward-img
      width: 100%
    &graphics
      display: none
