section.leads-wrap 
  .leads-decor
    img.leads-decor_img(src="@img/bg-figure-left.png")
  .container
    .leads
      .leads_decor
        img.leads_decor-img(src="@img/leads-decor.png" all="decor elemet")
      .leads_content
        h2.leads_title Allocate Leads and Simplify Lead Management
        p.leads_subtitle Unique and powerful suite of software to run 
                      |  your entire business, brought to you by a 
                      |  company with the long term vision to transform 
                      |  the way you work.
        ul.leads_list
          li.leads_item
            h4.leads_item-title Lead generation
            p.leads_item-text Guide Helps Companies Increase Customer & 
                      |  Agent Satisfaction, Also Reducing Support Costs.
          li.leads_item
            h4.leads_item-title Team Email
            p.leads_item-text Group Your Contacts By Location, Age, And 
                      |  Almost Any Behavior With Advanced Segmentation Tools.
