section.pm-wrap
  .pm-decor
    img.pm-decor_img(src="@img/bg-figure-right.png")
  .container
    .pm
      .pm_content
        h2.pm_title Ways a project management tool can help your team
        p.pm_subtitle Unique and powerful suite of software to run your entire business, 
                    | brought to you by a company with the long term vision to transform 
                    | the way you work.
        ul.pm_list
          li.pm_item
            .pm_item-icon
              img.pm_item-icon--first.secure-dims(src="./images/icons/icons.svg#secure" alt="secure icon")
            h4.pm_item-title CRM Security
            p.pm_item-text cards and make more sales while chatting
          li.pm_item
            .pm_item-icon
              img.pm_item-icon--second.megaphone-green-dims(src="./images/icons/icons.svg#megaphone-green" alt="megaphone icon")
            h4.pm_item-title Marketing Hub
            p.pm_item-text Show off your goods in elegant product cards and mak.
        button.pm_btn.btn-base get started
      .pm_decor
        img.pm_decor-img(src="@img/crm.png")