section.premfeat-wrap
  .container
    .premfeat
      h2.premfeat_title Explore Premium Features
      h6.premfeat_subtitle Unique and powerful suite of software to run your entire business, 
                         | brought to you by a company with the long term vision to transform 
                         | the way you work.