section.premfeat-wrap
  .container
    .premfeat
      h2.premfeat_title Explore Premium Features
      h6.premfeat_subtitle Unique and powerful suite of software to run your entire business, 
                         | brought to you by a company with the long term vision to transform 
                         | the way you work.
      .premfeat_cards
        .premfeat_card
          .premfeat_card-icon
            img(src="./images/icons/icons.svg#gear-bg" class="gear-bg-dims")
          h4.premfeat_card-title Powerful Settings
          p.premfeat_card-text Provide excellent customer service.
                          | Answer more tickets.
        .premfeat_card
          .premfeat_card-icon
            img(src="./images/icons/icons.svg#human-bg" class="human-bg-dims")
          h4.premfeat_card-title User Friendly
          p.premfeat_card-text Use Timeline to plan projects right how 
                          | the pieces fit together.
        .premfeat_card
          .premfeat_card-icon
            img(src="./images/icons/icons.svg#check-mark-bg" class="check-mark-bg-dims")
          h4.premfeat_card-title Integrated platform
          p.premfeat_card-text Vivamus massa eleifend etiam neque
                          | odio feugiat dolor est.