section.preview-wrap
  .preview-decor_first
    img.decor-layer-first-dims(src="./images/icons/icons.svg#decor-layer-first" alt="background_element")
  .preview-decor_secondary
  .preview-decor_third
    img.preview-decor_img(src="@img/decor-layer-third.png", alt="background element")
  .container
    .preview
      .preview_content
        h1.preview_title The CRM Platform
        h1.preview_title Your Whole Business
        h1.preview_title Will Love
        p.preview_subtitle Provide excellent customer service. 
                         | Answer more tickets all-in-one Primarily software.
        button.preview_btn.btn-base Get Started
        a.preview_link(href='#') How It Work
        .preview_reward
          img.preview_reward-img(src='@img/five-star.png' alt='our reward')
      .preview_graphics
        img.graph-img.graph-img_one(src='@img/diagram-one.png')
        img.graph-img.graph-img_two(src='@img/profit.png')
        img.graph-img.graph-img_three(src='@img/diagram-two.png')
        img.graph-img.graph-img_four(src='@img/diagram-three.png')
        img.graph-img.graph-img_five(src='@img/diagram-four.png')