section.preview-wrap 
  .preview_decor-first
    img.decor-layer-first-dims(src="./images/icons/icons.svg#decor-layer-first" alt="background_element")
  .preview_decor-secondary
  .preview_decor-third
    img.preview_decor-img(src="@img/decor-layer-third.png", alt="background element")
  .container
    .preview
      .preview_content
        p l
      
      .preview_graphics