section.salesmod-wrap
  .container
    .salesmod 
      h2.salesmod_title Sales Automation Modules
      p.salesmod_subtitle Unique and powerful suite of software to run your entire business, 
                        | brought to you by a company with the long term vision to transform 
                        | the way you work.
      .salesmod_blocks
        ul.salesmod_block
          button.salesmod_btn.btn-base in need
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--one
              img.salesmod_item-icon-body.sales-dims(src="./images/icons/icons.svg#sales" alt="sales icon")
            h4.salesmod_item-title sales
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--two
              img.salesmod_item-icon-body.megaphone-dims(src="./images/icons/icons.svg#megaphone" alt="megaphone icon")
            h4.salesmod_item-title Marketing
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--three
              img.salesmod_item-icon-body.gear-green-dims(src="./images/icons/icons.svg#gear-green" alt="gear-green icon")
            h4.salesmod_item-title Service
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
        ul.salesmod_block
          button.salesmod_btn.btn-base industry
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--four
              img.salesmod_item-icon-body.bulb-dims(src="./images/icons/icons.svg#bulb" alt="bulb icon")
            h4.salesmod_item-title Automotive
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--five
              img.salesmod_item-icon-body.house-dims(src="./images/icons/icons.svg#house" alt="house icon")
            h4.salesmod_item-title Real estate
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--six
              img.salesmod_item-icon-body.book-dims(src="./images/icons/icons.svg#book" alt="pinion icon")
            h4.salesmod_item-title Education
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
        ul.salesmod_block
          button.salesmod_btn.btn-base Solution
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--seven
              img.salesmod_item-icon-body.wallet-dims(src="./images/icons/icons.svg#wallet" alt="wallet icon")
            h4.salesmod_item-title Project Management
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--eight
              img.salesmod_item-icon-body.car-dims(src="./images/icons/icons.svg#car" alt="car icon")
            h4.salesmod_item-title Delivery Management
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--nine
              img.salesmod_item-icon-body.like-dims(src="./images/icons/icons.svg#like" alt="like icon")
            h4.salesmod_item-title Loyalty Management
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business
          li.salesmod_item
            .salesmod_item-icon.salesmod_item-icon--ten
              img.salesmod_item-icon-body.diagram-dims(src="./images/icons/icons.svg#diagram" alt="diagram icon")
            h4.salesmod_item-title Professional Management
            p.salesmod_item-text Unique and powerful suite sale 
                                |run your entire business