section.usersglob-wrap
  .container
    .usersglob
      h2.usersglob_title Trusted by more than 75 million users globally
      p.usersglob_subtitle Unique and powerful suite of software to run 
                          |your entire business, brought to you  transform 
                          |the way you work.
      ul.usersglob_list
        li.usersglob_item.usersglob_item--big.br--b.br--r
          img.usersglob_img(src="@img/compuse/1.png")
        li.usersglob_item.usersglob_item--base.br--b.br--r
          img.usersglob_img(src="@img/compuse/2.png")
        li.usersglob_item.usersglob_item--base.br--b.br--r
          img.usersglob_img(src="@img/compuse/3.png")
        li.usersglob_item.usersglob_item--big.br--b
          img.usersglob_img(src="@img/compuse/4.png")
        li.usersglob_item.usersglob_item--base.br--b.br--r
          img.usersglob_img(src="@img/compuse/5.png")
        li.usersglob_item.usersglob_item--base.br--b.br--r
          img.usersglob_img(src="@img/compuse/6.png")
        li.usersglob_item.usersglob_item--base.br--b.br--r
          img.usersglob_img(src="@img/compuse/7.png")
        li.usersglob_item.usersglob_item--base.br--b.br--r
          img.usersglob_img(src="@img/compuse/8.png")
        li.usersglob_item.usersglob_item--base.br--b
          img.usersglob_img(src="@img/compuse/9.png")
        li.usersglob_item.usersglob_item--big.br--r
          img.usersglob_img(src="@img/compuse/10.png")
        li.usersglob_item.usersglob_item--base.br--r
          img.usersglob_img(src="@img/compuse/11.png")
        li.usersglob_item.usersglob_item--base.br--r
          img.usersglob_img(src="@img/compuse/12.png")
        li.usersglob_item.usersglob_item--big
          img.usersglob_img(src="@img/compuse/13.png")
        