section.writeus-wrap
  .container
    .writeus
      .writeus_bg
        img.writeus_bg-img(src="@img/writeus-bg.png" alt="write us background")
      .writeus_content
        h2.writeus_title Sell | Serve | Automate
        p.writeus_subtitle Boost enrolment and
                          |manage student lifecycle 
                          |with our 360° CRM

      form.writeus_form.js-form(action="#", method="post")
        .writeus_form-field
          label.writeus_form-label(for="writeus-email") *Your Business Email Address
          input.writeus_form-inp.inp-base(id="writeus-email" type="email" placeholder="Email" requared)
        button.writeus_form-btn.btn-base(href="/") try now
      .writeus_decor
        img.writeus_decor-img(src="@img/writeus-decor.png" alt="decor element")