:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;
  --mq-size-xl: 1170px;
  --mq-size-xxl: 1320px;

  --theme-color-base: #80addc;
  --theme-color-secondary: #40576e;
  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-bg-base: #c7c6c6;
  --theme-bg-secondary: #F9F4F2;
  // --theme-bg-modal: #DBDBDB;
  // --theme-color-error: #BC3850;

  --text-color-base: #303030;
  --text-color-secondary: #4E4E4E;
  // --text-color-three: #211381;
  
  // --btn-color-base: #FED305;
  // --link-color-base: #3314ff;
}