:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;
  --mq-size-xl: 1170px;
  --mq-size-xxl: 1320px;

  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-bg-base: #49DEFF;
  --theme-bg-secondary: #4FFFDF;
  // --theme-color-base: #80addc;
  // --theme-color-secondary: #40576e;
  // --theme-bg-modal-color: #DBDBDB;
  // --theme-error-color: #BC3850;

  --text-color-base: #303030;
  --text-color-secondary: #4E4E4E;
  --text-color-three: #8A6FFD;
  // --text-btn-color: #FFFFFF;
  
  --btn-color-base: #303030;
  --btn-color-secondary: #4BE3EB;
  // --link-color-base: #3314ff;
}