:root {

  //*** this width takes into account the scroll bar
  --mq-size-sm: 560px;
  --mq-size-md: 752px;
  --mq-size-lg: 976px;
  --mq-size-xl: 1184px;
  --mq-size-xxl: 1384px;

  // *** colors ***************************
  --theme-color-white: #fff;
  --theme-color-black: #000;

  --theme-bg-base: #49DEFF;
  --theme-bg-secondary: #4FFFDF;
  --theme-bg-three: #DBDBDB;
  --theme-bg-four: #F9F9F9;
  --theme-bg-five: #F6F6F6;
  --theme-bg-card-base: #F4F4F4;
  
  --theme-border-base: #DEDEDE;
  --theme-border-secondary: #C5C5C5;
  --theme-border-three: #D9D9D9;
  --theme-border-four: #999999;
  --theme-border-five: #CCCCCC;
  --theme-border-six: #4A4A4A;
  
  --title-color-base: #303030;
  --text-color-base: #4E4E4E;
  --text-color-secondary: #8A6FFD;
  --text-color-three: #3BA3C8;
  --text-color-four: #47CFFF;
  --text-color-five: #FFB545;
  --text-color-six: #47DD56;
  --text-color-seven: #FF5454;
  --text-color-eight: #313131;
  
  --rating-color-base: #FFB545;
  --li-mark-color-base: #47CFFF;
  --btn-color-base: #303030;
  --btn-color-secondary: #4BE3EB;
  --btn-color-three: #EAEAEA;
  
  --icon-bg-color-one: #EDEDFF;
  --icon-bg-color-two: #FFE2ED;
  --icon-bg-color-three: #E4F4E6;
  --icon-bg-color-four: #FFF1DB;
  --icon-bg-color-five: #DFF3F2;
  --icon-bg-color-six: #D5F2FC;
  --icon-bg-color-seven: #FFE4E4;
  --icon-bg-color-eight: #F4E5FF;
  --icon-bg-color-nine: #FFE7DF;
  --icon-bg-color-ten: #FFDEF2;
}