.btn-base
  padding: 17px 36px
  border-radius: 5px
  background: var(--btn-color-base)
  font-weight: 600
  font-size: 20px
  line-height: 24px
  color: var(--theme-color-white)
  font-family: "Jost"
  cursor: pointer
  transition: 0.3s
  &:hover
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.7)
  &:active
    box-shadow: none

.btn-second
  position: absolute
  width: 40px
  height: 40px
  top: 10px
  right: 10px
  border-radius: 50%
  border: 1px solid var(--theme-border-six)
  background-color: rgba(0,0,0,0)
  &::before
    content: ""
    position: absolute
    width: 10px
    height: 1px
    top: 18px
    left: 10px
    background-color: var(--theme-color-white)
    transform: rotateZ(48deg)
    pointer-events: none
    transition: 0.3s
  &::after
    content: ""
    position: absolute
    width: 10px
    height: 1px
    bottom: 19px
    left: 17px
    background-color: var(--theme-color-white)
    transform: rotateZ(-48deg)
    pointer-events: none
    transition: 0.3s

.btn-second
  &--
    &close
      &::before
        transform: rotateZ(-48deg)
      &::after
        transform: rotateZ(48deg)

.btn-three
  display: inline-block
  padding: 17px 36px
  border-radius: 5px
  background: var(--btn-color-secondary)
  color: var(--btn-color-base)
  font-family: "Jost"
  font-weight: 600
  font-size: 20px
  line-height: 24px
  text-decoration: none
  cursor: pointer
  transition: 0.3s
  &:hover
    box-shadow: 2px 2px 5px 1px rgba(75,227,235,0.7)
  &:active
    box-shadow: none