.btn-base
  padding: 17px 36px
  border-radius: 5px
  background:  var(--btn-color-base)
  font-weight: 600
  font-size: 20px
  line-height: 24px
  color: var(--theme-color-white)
  font-family: "Jost"