.label-base
  color: var(--text-color-base)
  font-size: 16px
  font-weight: 600


.inp-base
  padding: 30px 
  border: 1px solid var(--brd-color-secondary)
  border-radius: 20px
  color: var(--theme-color-black)
  font-size: 16px
  font-weight: 600
  &::placeholder
    color: var(--text-color-ten)
    font-weight: 400