.pagination
  display: flex
  justify-content: space-between
  align-items: center
  &_
    &btn
      &--
        &prev
          display: none
    &num
      color: var(--text-color-nine)
      font-family: Jost
      font-weight: 500
      font-size: 20px
      &--
        &active
          color: var(--title-color-base)
        &slash
          margin: 0 22px
          color: var(--title-color-base)
